<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/base.css">
  </head>

  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="/">Melody's Portfolio Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="/projects">Projects <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/resume">Resume</a>
            <a class="nav-link" href="/admin">Admin</a>
            
        </div>
    
        </div>
        <!--- social media/ contact buttons-->
        <a href="https://www.linkedin.com/in/melody-then/" class="fa fa-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn"></a>
        <a href="https://www.facebook.com/mel.then" class="fa fa-facebook-square" data-toggle="tooltip" data-placement="top" title="Facebook"></a>
        <a href="https://github.com/melodythen" class="fa fa-github-alt" data-toggle="tooltip" data-placement="top" title="Github"></a>
        <a href="mailto: thenmelody@gmail.com" class="fa fa-envelope" data-toggle="tooltip" data-placement="top" title="E-Mail" ></a>
    
    
         
    
    </nav>
    
    <div class="sidenav">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
      </div>



    <!--| ABOUT |--------------------------------------------------->
    <section id="about" class="container">
      <img src="https://secure.meetupstatic.com/photos/member/d/9/d/c/member_266755772.jpeg">
      <h1 class="display-4">Ben Davis</h1>
      <p>
        I’m a full-stack web developer with over 16 years of experience. Software development is a fulfilling and rewarding job for me. I love to execute big ideas, and I want to use my talents to solve problems and make life easier for people. I jump at the chance to learn new things. I take great pride in my work and the fact that I create things that others find useful.
      </p>
      <p>
        <strong>Skills:</strong>
        <span class="badge badge-info">Bootstrap</span>
        <span class="badge badge-info">Ruby</span>
        <span class="badge badge-info">Python</span>
        <span class="badge badge-info">HTML</span>
        <span class="badge badge-info">CSS</span>
        <span class="badge badge-info">JavaScript</span>
        <span class="badge badge-info">Node.js</span>
        <span class="badge badge-info">Polymer.js</span>
        <span class="badge badge-info">SQL</span>
      </p>
    </section>

    <!-- EXPERIENCE --------------------------------------------->
    <section id="experience" class="container">
      <h1>Experience</h1>
      <div class="card">
        <div class="card-header collapse show" data-toggle="collapse" data-target="#exp1">
          <div class="row">
            <h5 class="col-md-8 mb-0">Contract Web Developer</h5>
            <em class="col-md-4 text-md-right">Apr 2012 - Current</em>
          </div>
        </div>
        <div class="card-block collapse" id="exp1">
          <h5>Ben Davis Digital - Dallas, TX</h5>
          <p>
            Leveraged agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
          </p>
          <p>
            Brought to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
          </p>
          <p>
            Capitalized on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
          </p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#exp2">
          <div class="row">
            <h5 class="col-md-8 mb-0">Senior Developer</h5>
            <em class="col-md-4 text-md-right">Sep 2008 - Apr 2012</em>
          </div>
        </div>
        <div class="card-block collapse" id="exp2">
          <h5>Farstar - Frisco, TX</h5>
          <p>
            Leveraged agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
          </p>
          <p>
            Brought to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
          </p>
          <p>
            Capitalized on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#exp3">
          <div class="row">
            <h5 class="col-md-8 mb-0">Project Manager, CMS Team Lead</h5>
            <em class="col-md-4 text-md-right">Jan 2005 - Sep 2008</em>
          </div>
        </div>
        <div class="card-block collapse" id="exp3">
          <h5>New Media Gateway - Dallas, TX</h5>
          <p>
            Leveraged agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
          </p>
          <p>
            Brought to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
          </p>
          <p>
            Capitalized on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#exp4">
          <div class="row">
            <h5 class="col-md-8 mb-0">Total Newb Developer</h5>
            <em class="col-md-4 text-md-right">Jul 2000 - Jan 2005</em>
          </div>
        </div>
        <div class="card-block collapse" id="exp4">
          <h5>Various Companies - Midwest United States</h5>
          <p>
            Leveraged agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
          </p>
          <p>
            Brought to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
          </p>
          <p>
            Capitalized on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
          </p>
        </div>
      </div>
    </section>
    
    <!-- CONTACT ----------------------------------------------------->

    <section class="container" id="contact">
      <h1>Contact</h1>
      <div class="row">
        <div class="col-sm-2">Phone:</div>
        <div class="col-sm-4">972-415-6277</div>
      </div>
      <div class="row">
        <div class="col-sm-2">Email:</div>
        <div class="col-sm-4"><a href="mailto:ben@bendavisdigital.com">ben@bendavisdigital.com</a></div>
      </div>
      <div class="row">
        <div class="col-sm-2">LinkedIn:</div>
        <div class="col-sm-4"><a href="https://linkedin.com/in/bendavis78">linkedin.com/in/bendavis78</a></div>
      </div>
    </section>

      </body>
</html>